*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: #0196e3;
}
a:hover{
    text-decoration: underline;
}
.clearfix::afeter{
    content: '';
    display: block;
    clear: both;
}
body{
    background-color: #f2f2f2;
}
header{
    text-align: center;
    margin-top: 50px;
}
header h1{
    font-family: "Myriad Pro",Arial,Helvetica,sans-serif;
    font-size: 42px;
    font-weight: normal;
    color: #444;
}
header h1:nth-child(2){
    font-weight: bold; 
    margin-bottom: 10px;
}
header span{
    color: #44446b;
}

header span a:hover{
    text-decoration: underline;
}
/*main区域*/
main .wrapper ul{
    display: flex;
    align-items: flex-start;
}
main{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top:28px;
    overflow: hidden;
    box-shadow: 0 0 3px #AAAAAA;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
main .menu{
    border-radius: 10px;
    width: 99%;
    height: 40px;
    background-color: #fff;
    border-bottom: 1px solid #E0E0E0;
}
main .menu ul{
    height: 100%;
    background: linear-gradient(to bottom,#f5f5f5,#ececec);
    margin-left: auto;
    margin-right: auto;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    border-bottom: 2px solid white;
    
}
main .menu ul li{
    padding: 10px 15px;
    margin: 1px 0;
    border-right: 1px solid #D7D8D7;
    border-left: 1px solid #D7D8D7;
}
.active{
    background: url(http://demo.tutorialzine.com/2009/11/beautiful-apple-gallery-slideshow/img/active_bg.png) no-repeat top center;
    background: linear-gradient(circle,#eee,#aaa);
}
footer{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
footer p{
    margin-top: 20px;
}
footer p:nth-child(2){
    font-size: 10px;
}